<a href="https://colab.research.google.com/github/jag854/BTE320/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cylinder area calculator

In [ ]:
pi = 3.14
radius = float(input('Enter radius: '))
height = float(input('Enter height: '))

area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)

print(f'Area of cylinder: {area} sq. ft')

Enter radius: 5
Enter height: 7
Area of cylinder: 376.8 sq. ft

Numerical Calculator

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
op = input('Enter operator: ')

if op == '+' :
  res = n1 + n2
elif op == '-' :
  res = n1- n2
elif op == '*' :
  res = n1 * n2
elif op == '/' :
  res = n1 / n2
elif op == '//' :
  res = n1 // n2
elif op == '**' :
  res = n1 ** n2
elif op == '%' :
  res = n1 % n2
else:
  res = 'Invalid operator!'

print(f'{n1} {op} {n2} = {res}')

Enter first number: 6
Enter second number: 8
Enter operator: +
6.0 + 8.0 = 14.0

Parking Garage

In [ ]:
flatRate = 5
hourlyRate = 2.5

for h in range(1, 9):
  charge = flatRate + hourlyRate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for number in range(1, 9, 1):
  fee = 5 + 2.5 * number
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(number, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

Movie Theater

In [ ]:
print('Ad$\t', 'Profit')
for advertisingDollars in range(0, 201, 25):
  revenue = (20 + 2 * round(advertisingDollars ** 0.5)) * 10
  costs = 200 + advertisingDollars
  profit = revenue - costs
  print(advertisingDollars, '\t', profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

Rock Paper Scissors

In [ ]:
choice1 = input('Enter choice for player 1: ')
choice2 = input('Enter choice for player 2: ')

if choice1 == 'rock' and choice2 == 'paper':
  print('Player 2 wins')
elif choice1 == 'paper' and choice2 == 'rock':
  print('Player 1 wins')
elif choice1 == 'rock' and choice2 == 'scissors':
  print('Player 1 wins')
elif choice1 == 'scissors' and choice2 == 'rock':
  print('Player 2 wins')
elif choice1 == 'scissors' and choice2 == 'paper':
  print('Player 1 wins')
elif choice1 == 'paper' and choice2 == 'scissors':
  print('Player 2 wins')
elif choice1 == 'stop' or choice2 == 'stop':
  print('Game Over')

Enter choice for player 1: rock
Enter choice for player 2: paper
Player 2 wins

Rock Paper Scissors (2)

In [ ]:
play = input('Do you want to play the game (yes/no): ')

while play == 'Yes':
  p1 = input('Player 1 - Choose between rock/paper/scissors: ')
  p2 = input('Player 2 - Choose between rock/paper/scissors: ')

  if p1 == p2:
    print('Draw')

  elif p1 == 'Rock' and p2 == 'Scissors':
    print('Player 1 wins!')
  elif p1 == 'Scissors' and p2 == 'Paper':
    print('Player 1 wins!')
  elif p1 == 'Paper' and p2 == 'Rock':
    print('Player 1 wins!')
  else:
    print('Player 2 wins!')

  play = input('Do you want to play another game (yes/no): ')
print('Good day...')

Do you want to play the game (yes/no): Yes
Player 1 - Choose between rock/paper/scissors: Rock
Player 2 - Choose between rock/paper/scissors: Paper
Player 2 wins!
Do you want to play another game (yes/no): Yes
Player 1 - Choose between rock/paper/scissors: Scissors
Player 2 - Choose between rock/paper/scissors: Paper
Player 1 wins!
Do you want to play another game (yes/no): No
Good day...

Append items to list iteratively

In [ ]:
lst = []

num = float(input('Enter a number: '))

while num != 0:
  lst.append(num)
  num = float(input('Enter a number: '))
lst.sort(reverse=True)
lst

Enter a number: 5
Enter a number: 9
Enter a number: 3
Enter a number: 2
Enter a number: 0

[9.0, 5.0, 3.0, 2.0]

Dynamic Dictionary of Number: Month Pairs

In [ ]:
months ={}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

Dynamic Dictionary of Number: Month Pairs (2)

In [ ]:
months ={}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

Dynamic Dictionary of Number: Month Pairs (3)

In [ ]:
months ={}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

Dynamic Dictionary; 5 Distinct Key:Value Pairs

In [ ]:
counts = {}

while len(counts) < 5:
  key = input("Enter a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] += 1

counts

Enter a string: a
Enter a string: a
Enter a string: b
Enter a string: b
Enter a string: b
Enter a string: c
Enter a string: d
Enter a string: d
Enter a string: d
Enter a string: d
Enter a string: e

{'a': 2, 'b': 3, 'c': 1, 'd': 4, 'e': 1}

Parking Garage: Calc Fee Function

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10.0:
    fee = 10.0
  elif fee >= 20.0:
    fee = 20.0
  print(f'Fee: {fee}$')

print('Program starts...')
numHours = int(input('Enter number of hours: '))
calcFee(numHours)

Program starts...
Enter number of hours: 5
Fee: 17.5$

Recursive Function: String Reversal

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1]) + s[0]
    return reverse(s[1:]) + s[0]
    return s[-1] + reverse(s[:-1])

reverse('Hello')

'olleH'

Parking garage/ 1st question of Assignment II using exception handling

In [ ]:
def calcFee(hours):
  assert hours >= 0, "The number of hours should be non-negative..."
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'Fee: {fee}$')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Cannot cast to int().')
  #except:
  #  print('Unknown error...')

if __name__ == "__main__":
  main()


def getValues(n):
  L = []
  for i in range(n):
    weight = float(input('Enter weight: '))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print(f'List {alist} is empty!')

if __name__ == "__main__":
  try:
    n = int(input('Enter size of list: '))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print('Input cannot be casted as an int()')

Enter number of hours: 2
Fee: 10.0$
Enter size of list: 3
Enter weight: 120
Enter weight: 130
Enter weight: 140
The average weight is: 140.0

Greeting Class

In [1]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal=False):
    if formal:
      print(f'Hi {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return "{}, {}".format(self.first, self.last)
    return f'{self.first}, {self.last}'
    return str(self.first) + ", " + str(self.last)

greeting = Greeting('Donald', 'Becker')
greeting2 = Greeting('Bob', 'Dylan')
greeting.display(formal=True)
print(greeting)
print(greeting2)

Hi Donald Becker
Donald, Becker
Bob, Dylan

Student Class

In [ ]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number
    self.__courses = []

def enroll(self, newCourse):
  if newCourse not in self.__courses:
    self.__courses.append(newCourse)
  else:
    print(f'You have already enrolled in {newCourse}')

def get_courses(self):
  return self.__courses

Classes Point Rectangle

In [ ]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)

In [ ]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dx = (self.x - other.x) ** 2
    dy = (self.y - other.y) ** 2
    dist = math.sqrt(dx + dy)
    return dist

p1 = Point(1, 7)
p2 = Point(4, 3)
p1.distance(p2)

5.0

In [ ]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0, 0)
    self.c2 = Point(0, 2)
    self.c3 = Point(2, 0)
    self.c4 = Point(2, 2)
    self.width = self.calculate_width()
    self.length = self.calculate_length()

  def calculate_width(self):
    # Calculates the distance between self.c1 and self.c3
    return self.c1.distance(self.c3)

  def calculate_length(self):
    return self.c1.distance(self.c2)

  def area(self):
    return f'Area = {self.width * self.length} sq. ft.'

square = Rectangle()
square.area()

'Area = 4.0 sq. ft.'